body, button{
font-family: 'Lexend Deca', sans-serif;
color: hsla(0, 0%, 100%, 0.75);
}

h2{
font-family: 'Big Shoulders Display', cursive;
color: hsl(0, 0%, 95%);
}

h2{
    font-size: 35px;
}

.cars{
    display:inline-flex;
    justify-content: center;
    border-radius: 10px;
    margin-top: 180px;

    

}
.sedan{
    background-color:hsl(31, 77%, 52%);
    padding-bottom: 40px;
    border-radius: 10px 0 0 10px;
    padding-right: 50px;
    padding-left: 40px;
    width: 10%;
    
    
   
}

.suv{
   background-color: hsl(184, 100%, 22%);
   padding-bottom: 40px;
   width: 10%;
   padding-right: 50px;
   padding-left: 40px;
  
 
}

.luxury{
    background-color:hsl(179, 100%, 13%);
    padding-bottom: 40px;
    border-radius: 0 10px 10px 0;
    width: 10%;
    padding-right: 50px;
    padding-left: 40px;
 
   
}

.sedanbutton a{
color: hsl(31, 77%, 52%);
text-decoration: none;
}

.suvbutton a{
    color:hsl(184, 100%, 22%);
    text-decoration: none;

}

.luxbutton a{
    color:hsl(179, 100%, 13%);
    text-decoration: none;
}

img{
    margin-top: 45px;
    margin-left: 20px;
}

p, h2, button{
    margin-left: 20px;
    
}

button{
    border-radius: 30px;
    text-decoration: none;
    background-color: white;
    outline: none;
    border: none;
    padding: 10px 0;
    padding-left: 0;
    
  
}

button a{
    margin: 6px;
    padding: 25px 20px 25px 20px;
    font-size: 15px;
  
}

p{
    margin-bottom: 75px;
    font-size: 15px;
    line-height: 25px;
}

@media screen and (max-width:1440px) {
    .cars{
        margin-top: 120px;
        margin-bottom: 10px;
    }
    
}

@media screen and (max-width:1440px) {
    .sedan, .suv, .luxury {
        width: 17%;
    }
}

@media screen and (max-width:1440px) {
    h2{ font-size: 45px;
      
    }
    
}

@media screen and (max-width:1400px) {
    p{
        line-height: 30px;
    }
}

@media screen and (max-width:650px) {
    .cars{
        display: block;
        margin-left: 14px;
        margin-right: 40px;
        
    }
    
}

@media screen and (max-width:650px) {
    .sedan, .suv, .luxury {
        width: 100%;
        align-items: center;
        padding-left: 15px;
        padding-right: 15px;
        margin-right: 50px;
        
    }
}

@media screen and (max-width:650px) {
    .sedan {
        border-radius: 10px 10px 0 0;
    }
}

@media screen and (max-width:650px) {
    .luxury {
       border-radius: 0 0 10px 10px;
    }
}

@media screen and (max-width:650px) {
    p, h2, img {
      padding-right:20px;
      padding-left: 20px;
      
    }
}

@media screen and (max-width:650px) {
    button {
      margin-left: 35px;
      
    }
}

@media screen and (max-width:650px) {
    p {
      margin-bottom: 35px;
      margin-right: 60px;
      margin-left: 20px;
      
    }
}